<div class="container">
    <script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var providerData = user.providerData;
            user.getToken().then(function(accessToken) {
              document.getElementById('sign-in-status').textContent = 'Signed in';
              document.getElementById('sign-in').textContent = 'Sign out';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  ');
            });
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Signed out';
            document.getElementById('sign-in').textContent = 'Sign in';
            document.getElementById('account-details').textContent = 'null';
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 search-box">
          <input class="form-control" placeholder="Filter reports">
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Type of Report</h4>
                <p class="list-group-item-text">description of report goes here</p>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Title of Report</h4>
                <p class="list-group-item-text">description of report goes here</p>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </a>
            </div>
        </div>
        <nav aria-label="...">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li ><a href="#">2</a></li>
            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
        </nav>
    </div>
    
    

    <h1>Welcome to My Awesome App</h1>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>

    </div>